:host(app-header) {
  padding-top: 0;
  padding-bottom: 6.5rem;
  display: grid;

  header {
    position: fixed;
    z-index: 999;
    width: 100%;

    nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 2rem;
      color: #ffffff;
      height: 4rem;
      background: #435eb0;

      .mat-raised-button {
        color: #435eb0;
        margin-right: 1rem;
      }

      a {
        text-transform: uppercase;
        color: #ffffff;
        padding: 1rem 1rem;
      }
    }
  }
}
