.buckets-dnd-list {
    max-width: 100%;
    min-height: 60px;
    display: block;
    border-radius: 4px;
    overflow: hidden;
}

.buckets-dnd-box {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
}

.cdk-drag-placeholder {
    opacity: 100;
}

.cdk-drag-animating {
    transition: transform 125ms cubic-bezier(0, 0, 0.2, 1);
}

.buckets-dnd-box:last-child {
    border: none;
}

.buckets-dnd-list.cdk-drop-list-dragging .buckets-dnd-box:not(.cdk-drag-placeholder) {
    transition: transform 125ms cubic-bezier(0, 0, 0.2, 1);
}

.icon {
    font-size: 1.4rem;
    text-align: center;
    color: #308548;
}

[class^="-icon"],
[class*="-icon"] {
    display: inline-block;
    width: 100%;
}